@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  line-height: 1.75;
}

a {
  margin-right: 2rem;
  text-decoration: none;
  color: black;
}

a:hover {
  color: plum;
}

@media (max-width: 650px) {
  html {
    font-size: 90%;
  }
}

footer {
  color: #793677;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.MuiSvgIcon-root {
  font-size: 2.5rem;
}
